<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!--/* header 부분 */-->
<div th:fragment="header" class="#">
<header>
	<div class="header_container">

	    <div class="container_notice">
	        <div class="notice_img"><img alt="Kim Taewoo" src="/image/taewoo.png"></div>
	        <h3 class="notice_name">anonymous</h3>
	    </div>

	    <div class="container_Title">
	        <span>한글한글한글한글abcdEFGH </span>
	    </div>
	    
		<div class="container_login">
	        <div id="login_div" class="login_item"  th:if="${userid == null}">
	        	<span>로그인</span>
	        </div>
	        <div id="login_div" class="login_item"  th:if="${userid != null}">
	        	<span>로그아웃</span>
	        </div>
	        <div id="join_btn" class="login_item">
	        	<span>회원가입</span>
	        </div>
	    </div>
	</div>
</header>
</div>
</html>